<a href="https://github.com/wsklee/shopHouse">
<div class="rounded overflow-hidden shadow-lg aspect-video border-none border-2 border-skin-accent hover:border-solid">
    <div class="px-4 py-4">
        
            <div class="font-medium text-primary-900 mb-0 text-3xl leading-9 tracking-tighter">shopHouse</div>
            <p class="content break-words  text-2xl font-medium leading-5 tracking-tight lg:tracking-tighter text-neutral-500">
                React-SpringBoot ecommerce web app
            </p>
        
    </div>
</div>
</a>