---
const { title, link, shortExcerpt} = Astro.props;
---

<a href={link}>
<div class="rounded overflow-hidden shadow-lg aspect-video border-solid border-skin-accent hover:border-2">
    <div class="px-4 py-4">
        
            <div class="font-medium text-primary-900 mb-0 text-3xl leading-9 tracking-tighter">{title}</div>
            <p class="content break-words  text-2xl font-medium leading-5 tracking-tight lg:tracking-tighter text-neutral-500">
                {shortExcerpt}
            </p>
        
    </div>
</div>
</a>